#loginButton{
	margin-left: 10px;
}
.focused:hover{
	
}
.logReq{
	float: right;
}
.userAccountReq{
	display: none;
}
.noShow{
	display: none;
}
#about{
	display: none;
}
#homeFeatured{
	
}
#homeMain{
	display: none;
}
#allProducts{
	display: none;
}
#manager{
	display: none;
}
#admin{
	display: none;
}
#featuredCard{
	max-height: 300px;
}
.featuredCardsItem{
	list-style-type: none;
	display: inline-block;
	padding-right: 5px;
}
#featuredHeader{
	background: linear-gradient(to right, gray, blue);
}